@font-face {
  font-family: "Seagull";
  src: url(font/seag.ttf);
}

@font-face {
  font-family: "Stargate";
  src: url(font/stargate.ttf);
}

@font-face {
  font-family: "EBGaramond";
  src: url(font/EBGaramond-VariableFont_wght.ttf);
}

html, body {
  font-family: "Seagull";
  height: 100%;
  margin: 0;
}

#loader {
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 10;
  margin: 0;
}
