@font-face {
  font-family: "Seagull";
  src: url(font/seag.ttf);
}

@font-face {
  font-family: "Stargate";
  src: url(font/stargate.ttf);
}

@font-face {
  font-family: "AGaramondPro";
  src: url(font/AGaramondPro-Regular.otf);
}

body {
  font-family: "Seagull";
  height: 100%;
}
