@font-face {
  font-family: "Seagull";
  src: url(font/seag.ttf);
}
#logo {
  width: 90%;
  max-width: 400px;
  height: auto;
}
#main {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
#card {
  max-width: 402px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
#cardcontainer {
  float: right;
}
#settings {
}
#menu {
  text-align: left;
}
#name {
  width: 30%;
}
html {
  height: 100%;
}
.line {
  width: 100%;
  margin: 0;
}
.content {
  min-height: 700px;
  height: auto;
  margin: auto;
  max-width: 800px;
  border: solid white;
  border-width: 30px 50px;
  border-image-source: url("../img/ui/border.png");
  border-image-slice: 60 100 60 100 fill;
  border-image
  border-image-repeat: repeat;
}
@media screen and (max-width: 1000px) {
  #cardcontainer {
    float: none;
  }
  #name {
    width: 50%;
  }
}
body {
  height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("../img/ui/background_Track.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bodytext {
  margin:0;
  font-family: "Seagull";
  color: #fffdee;
  font-weight: normal;
  font-size: 16pt;
}
.heading {
  margin:0;
  font-family: "Seagull";
  color: #f2c93f;
  font-weight: normal;
  font-size: 32pt;
}
